/*HEADER*/
.head{
    width: 75%;
    background-color: #778899;
    margin:auto;
    text-align: center;
    padding: 20px;
    font-size:36px;
    height:30%;
}

/*MAIN CONTENT*/
body{
    background-color:#DCDCDC;
    margin:auto;
}

/*MENU AND CENTER*/
.center{
    margin:10px;
    width:70%;
    height:60%;
    float:right;
    background-color:#778899;
}

.left-menu{
    margin:10px;
    padding:10px;
    width:20%;
    float:left;
    background-color:#778899;

}

/*MESSAGES AND ONE MESSAGE*/
.message-container{
    overflow-x:scroll;
    height:400px;
}


.msg{
    margin:10px;
    padding:10px;
    border-radius:10px;
    background-color:#808080;
}

/*EDIT AREA, TEXT FIELD AND SEND BUTTON*/
.message-edit{
    /*real width:70%*/
    margin:1%;
    padding:1%;
    width:68%;
    height:88%;
    border-radius:10px;
    float:left;
    background-color:#808080;
}


.edit-area{
    height:300px;
    background-color:#778899;

}

.send-wrap{
    width:25%;
    height:100%;
    float:right;
}

.send-icon{
    vertical-align:middle;
    float:right;
    width:100%;
    }

